.emailsLists__option {
  padding: 1.2em 0.5em;
  max-width: 230px;
  flex-grow: 1;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  color: var(--secondary-color);
  border-width: 0 !important;
  height: 50px;
}
.emailsLists__option > h3 {
  margin-left: 0.5em;
}
.emailsLists__option:hover {
  background-color: var(--bg-hover-1);
  color: black;
  border-width: 3px !important;
}

.emailsLists__option.selected {
  border-width: 3px !important;
}

@media (max-width: 50em) {
  .emailsLists__option {
    flex-grow: 0;
  }
  .emailsLists__option > h3 {
    display: none;
  }
}
