.header {
  display: flex;
  align-items: center;
  padding: 0.6em;
  justify-content: space-between;
  border-bottom: 1px solid #f1f3f4;
  position: relative;
}

.header .MuiIconButton-root {
  padding: 0.5em;
}

.header .MuiSvgIcon-root path {
  color: var(--icon-color);
}

.header .MuiAvatar-root {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.header__left {
  display: flex;
  align-items: center;
  flex: 1;
}

.header__left > img {
  height: 2.8em;
  margin-left: 0.2em;
}

.header__search {
  display: flex;
  align-items: center;
  max-width: 40em;
  flex-grow: 1;
  padding-right: 0.5em;
  padding-left: 0.5em;
  margin-left: 5vw;
  background-color: #f1f3f4;
  border-radius: var(--border-radius);
}

.header__search > input {
  flex: 1;
  font-family: inherit;
  font-size: 1rem;
  background-color: #f1f3f4;
  border: none;
  outline: none;
}

.header__right {
  display: flex;
  align-items: center;
}

.header__rightIcons {
  margin-right: 0.5em;
  display: flex;
  align-items: center;
}

.searchIcon {
  display: none !important;
}

.searchbar__input {
  display: none;
}

.header.active .searchbar__input {
  display: block;
}

.header.active .header__left,
.header.active .MuiAvatar-root,
.header.active .header__rightIcons > button:not(:first-of-type) {
  display: none !important;
}

.header.active .header__right,
.header.active .header__rightIcons {
  flex: 1;
}

.searchbar__input {
  flex: 1;
}

.searchbar__input > input {
  width: 100%;
  padding: 0.7em;
  font-family: inherit;
  font-size: 1rem;
  background-color: #f1f3f4;
  border: none;
  outline: none;
}

@media (max-width: 35em) {
  .header__left > img {
    height: 2.1em;
  }
  .header__search {
    background-color: transparent;
    display: none;
  }

  .header__search > input {
    display: none;
  }

  .searchIcon {
    margin-left: auto !important;
    display: block !important;
  }
  .tuneIcon {
    display: none !important;
  }
}

@media (max-width: 20em) {
  .header__rightIcons > button:nth-child(3) {
    display: none !important;
  }
}

@media (max-width: 17em) {
  .header__rightIcons > button:nth-child(4) {
    display: none !important;
  }
}

@media (max-width: 35em) {
  .searchIcon {
    display: flex !important;
  }
}
