.mail {
  margin-left: 2em;
  flex: 1;
  /* overflow: auto; */
}
.mail__icons {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #f1f3f4;
  background-color: white;
}

.mail__iconsLeft,
.mail__iconsRight {
  display: flex;
  align-items: center;
}

.mail__content {
  /* margin-top: 1.5em; */
}

@media (max-width: 35em) {
  .mail__iconsRight {
    display: none;
  }
}
