.messageBox {
  position: absolute;
  bottom: 0;
  right: 7em;
  z-index: 9999;
  box-shadow: 0 4px 12px 0 rgb(0 0 0 / 15%);
  min-height: 450px;
  min-width: 450px;
  background-color: white;
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
}

.messageBox__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.7em;
  background-color: RGB(64, 64, 64);
  color: white;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.messageBox__header .MuiButtonBase-root {
  padding: 0.65em;
  color: white;
}

.messageBox__form {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.messageBox__form > input,
.messageBox__form > textarea {
  font-family: inherit;
  font-size: 1.15rem;
  padding: 0.8em;
  border: none;
  border-bottom: 1px solid #f1f3f4;
  outline: none;
}

.messageBox__form > textarea {
  resize: none;
  flex: 1;
}

.messageBox__button {
  padding: 0.6em 1em;
}

.messageBox__button .MuiButton-root {
  font-family: inherit;
  text-transform: none;
  background-color: #1a73e9;
  color: #fff;
  padding-right: 1.5em;
  padding-left: 1.5em;
}

.messageBox__button .MuiButton-root:hover {
  background-color: #1a74e9d8;
}

.messageBox__button .MuiButton-root {
  font-size: 1em;
}

@media (max-width: 35em) {
  .messageBox {
    bottom: 0;
    left: 2.5%;
    right: 2.5%;
    width: 95%;
    margin: auto;
    min-width: auto;
    max-width: 100%;
    min-height: 300px;
  }

  .MuiButton-root {
    width: auto;
    height: auto;
  }
}
